@import "@/assets/style/_reset";
@import "@/assets/style/_libs";
@import "@/assets/style/global";
@import "@/assets/style/transitions";

* {
  --font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 13px;
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background: var(--surface-b);
  line-height: 1.5;
}

#app {
  min-height: 100vh; // Fallback to the line below
  min-height: 100dvh;
  position: relative;
  padding-bottom: 4rem;
}

.main-layout {
  padding: 5vh 5vw;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chouquette-mode {
  $bg-overlay-opacity: 0.3;

  animation: chouquette-mode-rolling .8s both;

  background-size: 8.375rem auto;  

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--surface-b);
    opacity: $bg-overlay-opacity;
    box-shadow: var(--surface-b) 0 0 0 100rem;
  }

  & .p-menubar,
  & footer {
    background: rgba(31, 45, 64, $bg-overlay-opacity);
  }
}

.remove-chouquette-mode {
  animation: chouquette-mode-rolling-reverse .8s both;
}

.pi {
  font-family: PrimeIcons !important;
}

h1 {
  font-family: $ch-font-family;
  font-size: 2.75rem;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
}

h6 {
  font-size: 0.875rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: var(--primary-color) !important;
  cursor: pointer;
}

.p-button:focus-visible {
  transform: scale(1.05);
}

.p-button-label {
  font-weight: 500;
}

.skeleton-list {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

$main-layout-extra-space: 1.3rem;

@include sm {
  html {
    font-size: 14px;
  }

  .main-layout {
    width: calc($screen-sm-min - $main-layout-extra-space);
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@include md {
  html {
    font-size: 15px;
  }

  .main-layout {
    width: calc($screen-md-min - $main-layout-extra-space);
  }
}

@include lg {
  html {
    font-size: 16px;
  }

  .main-layout {
    width: calc($screen-lg-min - $main-layout-extra-space);
  }
}

@include xl {
  .main-layout {
    width: calc($screen-xl-min - $main-layout-extra-space);
  }
}